/*changing text font on index.html*/

.h-one {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* font-size: larger;
    font-weight: 500;*/
}

.body-font {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list-text {
    font-size: 14pt;
}

/*margins*/

.margin-sides {
    margin-left: 25px;
    margin-right: 25px;
}

.body-background {
    background-color: rgb(241, 241, 253);
}